[submodule "FlyDubai"]
	path = FlyDubai
	url = https://github.com/devDonovan/FlyDubai.git
[submodule "architecture-samples"]
    path = architecture-samples
    url = https://github.com/devDonovan/architecture-samples.git
[submodule "sample-food-truck"]
    path = sample-food-truck
    url = https://github.com/devDonovan/sample-food-truck.git